/* Auto adjusts the image height when changing the width */
html,
body {
    height: 100%;
}

.form-padding {
  padding-top: 90px;
}

ul
{
    list-style-type: none;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
     width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
