{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="google-signin-client_id" content="118281423263-9joo01g2iu3t1gsl1jeac97a2oh78eai.apps.googleusercontent.com">
		<title>Food Truck</title>

		<!-- Bootstrap Core CSS -->
	  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">

	  <!--Custom CSS-->
	  <link href="{% static 'sticky-footer-navbar.css' %}" rel="stylesheet">
		<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
	  <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">

		<!-- Javascript files -->
	  <!--<script src="js/bootstrap.min.js"></script>-->
	  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
	  <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->


	  <!-- Custom Fonts -->
	  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

	  <!-- Plugin CSS -->
	  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type="text/css">

	  <!-- Custom CSS -->
	  <!--link rel="stylesheet" href="css/creative.css" type="text/css"-->
	</head>
	<body>
		<!-- NAVBAR -->
		<div class="navbar-wrapper">
			<div class="container">
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">Food Truck App</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a href="/">Home</a></li>
								<li><a href="#">Find</a></li>
							</ul>
							<div class="navbar-form navbar-right">
              	<a class="btn btn-primary" href="/signup/">Sign up</a>
              	<a class="btn btn-default" href="/login/">Sign in</a>
            	</div>
						</div>
					</div>
				</nav>
			</div>
		</div>

    <!-- BLOCK CONTENT -->
    {% block content %}
    {% endblock %}

		<!-- FOOTER -->
    <div class="container">
      <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
      </div>
      <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body > .container</code>.</p>
      <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

		<!-- Bootstrap core JavaScript
	  ================================================== -->
	  <!-- Placed at the end of the document so the pages load faster -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
	  <script src="{% static 'js/bootstrap.min.js' %}"></script>
	  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	  <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

	  <!-- Google Platform library for google sign in-->
	  <script src="https://apis.google.com/js/platform.js" async defer></script>
	  <script>
		function onSignIn(googleUser) {
			var profile = googleUser.getBasicProfile();
			console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
			console.log('Name: ' + profile.getName());
			console.log('Given Name: ' + profile.getGivenName());
			console.log('Family Name: ' + profile.getFamilyName());
			console.log('Image URL: ' + profile.getImageUrl());
			console.log('Email: ' + profile.getEmail());

		}

		function signOut() {
			var auth2 = gapi.auth2.getAuthInstance();
			auth2.signOut().then(function () {
				console.log('User signed out.');
			});
		}
	  </script>
	</body>
</html>
